<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Профиль</title>
        <link rel="stylesheet" href="http://localhost:8080/bank-system/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://localhost:8080/bank-system/css/main.css">
    </head>
    <body>
        <div class="container-fluid">
            <h2>Профиль</h2>
            <a href="http://localhost:8080/bank-system" class="btn btn-primary">Главная</a>
        </div>
    </body>
</html>