<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title th:text="#{title.operation}"></title>
        <link rel="icon" th:href="@{/assets/bank-icon.png}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    </head>
    <body class="bg-blue">

        <!--Header-->
        <header class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand scroll-top">
                <img th:src="@{/assets/bank-icon.png}"
                     width="30" height="30" class="d-inline-block align-top" alt="Image"> <span
                    th:text="#{app.name}"></span>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">
                            <span th:text="#{nav.home}"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/client}">
                            <span th:text="#{nav.clients}"></span>
                        </a>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link active dropdown-toggle scroll-top" role="button"
                           data-toggle="dropdown"><span th:text="#{nav.operation}"></span>
                        </a>
                        <div class="dropdown-menu">

                            <!--Show all deposits-->
                            <a class="dropdown-item" th:href="@{/operation/deposit}">
                                <span th:text="#{title.operation.deposit}"></span>
                            </a>
                            <div class="dropdown-divider"></div>

                            <!--Edit client-->
                            <a class="dropdown-item" th:href="@{/operation/credit}">
                                <span th:text="#{title.operation.credit}"></span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

            <!--Worker profile-->
            <div class="nav-item dropdown text-secondary">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="${worker.passport.firstName + ' ' + worker.passport.lastName}"
                          th:unless="${worker} == null"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{'/worker/' + ${worker.id}}">
                        <i class="fas fa-user-circle"></i>
                        <span th:text="#{nav.profile}"></span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" th:href="@{/worker/logOut}">
                        <i class="fas fa-sign-out-alt"></i>
                        <span th:text="#{btn.logout}"></span>
                    </a>
                </div>
            </div>
        </header>

        <!--Container-->
        <div class="container-fluid">
            <div class="row row-center">
                <div class="col-12">
                    <div class="rounded-container smooth-shadow">
                        <div class="title-container">
                            <i class="fas fa-money-check-alt avatar"></i>
                            <h2>
                                <span th:text="#{title.operation.in} + ' '"></span>
                                <span class="badge badge-success" th:text="#{app.name}"></span>
                            </h2>
                        </div>
                        <div class="user-info">
                            <div class="form-row">
                                <div class="col-md-4" style="padding: 0 2.5vw">
                                    <div class="card smooth-shadow" style="max-width: 25vw;">
                                        <img src="https://images.unsplash.com/photo-1500058616600-a743332abf53?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
                                             class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <span th:text="#{operation.deposits}"></span>
                                            </h5>
                                            <p class="card-text small" style="min-height: 7vw"
                                               th:text="#{txt.card.deposit.body}"></p>
                                            <a th:href="@{/operation/deposit}" class="btn btn-primary w-100"
                                               style="border-radius: 50px">
                                                <span th:text="#{btn.go}"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding: 0 2.5vw">
                                    <div class="card smooth-shadow" style="max-width: 25vw;">
                                        <img src="https://images.unsplash.com/photo-1462045504115-6c1d931f07d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80"
                                             class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <span th:text="#{operation.credits}"></span>
                                            </h5>
                                            <p class="card-text small" style="min-height: 7vw"
                                               th:text="#{txt.card.credit.body}"></p>
                                            <a th:href="@{/operation/credit}" class="btn btn-primary w-100"
                                               style="border-radius: 50px">
                                                <span th:text="#{btn.go}"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding: 0 2.5vw">
                                    <div class="card smooth-shadow" style="max-width: 25vw;">
                                        <img src="https://images.unsplash.com/photo-1446714276218-bd84d334af98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
                                             class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <span th:text="#{operation.close.bank.day}"></span>
                                            </h5>
                                            <p class="card-text small" style="min-height: 7vw"
                                               th:text="#{txt.card.credit.body}"></p>
                                            <a th:href="@{/operation/closeBankDay}" class="btn btn-success w-100"
                                               style="border-radius: 50px">
                                                <i class="fas fa-lock"></i>
                                                <span th:text="#{btn.submit}"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/js/jquery-3.3.1.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script th:src="@{/js/main.js}"></script>
        <script th:src="@{/js/operation/operationService.js}"></script>
        <script th:src="@{/js/operation/operationController.js}"></script>
    </body>
</html>